<div class="message-block {{#if isRight}}message-block_right{{else}}message-block_left{{/if}}" style="{{#if min-height}}min-height: {{min-height}}px;{{/if}}">
    {{#if emoji}}
        <div class="message-block__emoji"><img src="{{emoji}}" alt=""></div>
    {{/if}}
    <div class="message-block__text">
        {{text}}
    </div>
    <div class="message-block__bottom">
        <div class="message-block__name">
            {{#if name}}
                {{name}}
            {{/if}}
        </div>
        <div class="message-block__tag" {{#if colorTag}}style="color: {{colorTag}}"{{/if}}>
            {{tag}}
        </div>
    </div>
</div>
