<span class="tag-block wow {{#if animate}}{{animate}}{{else}}animate__fadeInLeftShort{{/if}}" {{#if delay}}data-wow-delay="{{delay}}"{{/if}} data-wow-duration="1s" {{#if color}}style="color: {{color}}"{{/if}}>{{text}}</span>
