<div class="wonder wow animate__animated animate__fadeInRightShort" data-wow-duration="1s" data-wow-delay="{{delay}}">
    <div class="wonder__image">
        <img src="{{image}}" alt="">
    </div>
    <div class="wonder__title">
        <strong style="color: {{titleColor}}">{{title}}</strong>
    </div>
    <p>
        {{text}}
    </p>
</div>
