<div class="window-tool">
    <div class="window-tool__content">
        <div>
            <b style="color: {{tagColor}}">{{tag}}</b>
            <p>{{text}}</p>
        </div>
    </div>
    <div class="window-tool__img">
        <img src="{{image}}" alt="">
        {{{@partial-block}}}
    </div>
</div>
