<h3 class="big-text {{#if size}}big-text_{{size}}{{/if}} {{#if notAnimate}}{{else}}wow{{/if}} {{#if animate}}{{animate}}{{else}}animate__fadeInLeftShort{{/if}}" {{#if delay}}data-wow-delay="{{delay}}"{{/if}} data-wow-duration="1s">
    {{> @partial-block }}
</h3>
