<div class="window-tool">
    <div class="window-tool__block-main">
        <div class="window-tool__content">
            <div>
                <b style="color: {{tagColor}}">{{tag}}</b>
                <p>{{text}}</p>
            </div>
        </div>
        <div class="window-tool__img">
            <img src="{{image}}" alt="">
            {{{@partial-block}}}
        </div>
    </div>
    {{> window-tool-block/index
            image="../../../images/tool-block-13.png"
            imageStyle="width: 371px;"
            text="1. Вы покупаете подписку в академии за 45$. Мы берем 4.5$ и покупаем для вас актив, который на наш взгляд является очень перспективным. Так делаем с каждым вашим продлением!"
            mw-text=327
            mt=1
            fz=20
            withoutGlass=true
    }}
    {{> window-tool-block/index
            image="../../../images/tool-block-14.png"
            imageStyle="width: 355px;"
            text="2. Допустим, актив растет в 10 раз, 4.5$ превращаются в 45$, мы фиксируем часть прибыли и реинвестируем ее по новым перспективным проектам, таким образом наращивая ваши позиции!"
            isRight=true
            mw-text=327
            mt=100
            fz=20
            withoutGlass=true
    }}
    {{> window-tool-block/index
            image="../../../images/tool-block-15.png"
            imageStyle="width: 495px;"
            text="3. Ваш капитал постоянно накапливается и увеличивается. Когда мы приходим к ощутимым результатам, то закрываем часть позиций и распределяем прибыль на ваши аккаунты академии, откуда вы можете совершить вывод."
            mw-text=327
            mt=100
            fz=20
            withoutGlass=true
    }}
    {{> window-tool-block/index
            image="../../../images/tool-block-16.png"
            imageStyle="width: 414px;"
            text="4. Например, в Июне 2021 года мы купили токены TWT по 0.33$ на 1400$, а также взяли аллокацию проекта Efinity через CoinList на сумму в 500$. Все активы были куплены на 10% от транзакций всех участников академии в предыдущем месяце. Т.е, все, кто оплачивал подписку в мае, теперь имеют в своем портфеле токены TWT и монеты из токен сейла Efinity!"
            isRight=true
            mw-text=327
            mt=100
            mb=100
            fz=20
            withoutGlass=true
    }}
</div>
