{{#if url }}
    <a {{#if fontSize}}style="font-size: {{fontSize}}px"{{/if}} class="main-button {{#if fullWidth}}main-button_full-width{{/if}}" href="{{url}}">{{text}}</a>
{{else}}
    <button {{#if fontSize}}style="font-size: {{fontSize}}px"{{/if}} class="main-button {{#if fullWidth}}main-button_full-width{{/if}}" {{#if isSubmit}}type="submit"{{/if}}>{{text}}</button>
{{/if}}
