{{#if url }}
    <a
        {{#if fontSize}}style="font-size: {{fontSize}}px"{{/if}}
        class="main-button {{#if isBlack}}main-button_black{{/if}} {{#if fullWidth}}main-button_full-width{{/if}} {{#if animate}}wow {{animate}}{{else}}{{#if notAnimate}}{{else}}wow animate__animated animate__fadeInLeft{{/if}}{{/if}}"
        data-wow-duration="1s" data-wow-delay="{{#if delay}}{{delay}}{{else}}{{/if}}" href="{{url}}"
        {{#if openWindowID}}
            data-open-window="{{openWindowID}}"
        {{/if}}
        {{#if closeWindowID}}
            data-close-window="{{closeWindowID}}"
        {{/if}}
    >
        {{text}}
    </a>
{{else}}
    <button
        {{#if fontSize}}style="font-size: {{fontSize}}px"{{/if}}
        class="main-button {{#if isBlack}}main-button_black{{/if}} {{#if fullWidth}}main-button_full-width{{/if}} {{#if animate}}wow {{animate}}{{else}}{{#if notAnimate}}{{else}}wow animate__animated animate__fadeInLeft{{/if}}{{/if}}"
        data-wow-duration="1s" data-wow-delay="{{#if delay}}{{delay}}{{else}}{{/if}}"
        {{#if isSubmit}}type="submit"{{/if}}
        {{#if openWindowID}}
            data-open-window="{{openWindowID}}"
        {{/if}}
        {{#if closeWindowID}}
            data-close-window="{{closeWindowID}}"
        {{/if}}
    >
        {{text}}
    </button>
{{/if}}
