{{#if url }}
    <a
        {{#if fontSize}}style="font-size: {{fontSize}}px"{{/if}}
        class="main-button {{#if fullWidth}}main-button_full-width{{/if}} {{#if notAnimate}}{{else}}wow animate__fadeIn{{/if}}"
        data-wow-duration="1.5s" href="{{url}}"
    >
        {{text}}
    </a>
{{else}}
    <button
        {{#if fontSize}}style="font-size: {{fontSize}}px"{{/if}}
        class="main-button {{#if fullWidth}}main-button_full-width{{/if}} {{#if notAnimate}}{{else}}wow animate__fadeIn{{/if}}"
        data-wow-duration="1.5s"
        {{#if isSubmit}}type="submit"{{/if}}
    >
        {{text}}
    </button>
{{/if}}
