<div class="window-tool">
    <div class="window-tool__block-main">
        <div class="window-tool__content">
            <div>
                <b style="color: {{tagColor}}">{{tag}}</b>
                <p>{{text}}</p>
            </div>
        </div>
        <div class="window-tool__img">
            <img src="{{image}}" alt="">
            {{{@partial-block}}}
        </div>
    </div>
    {{#> window-tool-block/index
            image="../../../images/tool-block-1.png"
            text="1. Выберите разделы и конкретные площадки в которых вы хотите принимать участие, настройте периодичность напоминаний под себя!"
            mw-text=245
            mr-g=110
            mt-g=150
            mt=1
    }}
        <ul>
            <li>В раздел "Токен сейлы" добавлено 4 площадки.</li>
            <li>Появились новые события в разделе "NFT сейлы и дропы"</li>
        </ul>
        <span style="margin-top: 30px">Подробнее</span>
    {{/window-tool-block/index}}
    {{#> window-tool-block/index
            image="../../../images/tool-block-2.png"
            text="2. Получайте новости о новых событиях из разделов с полным описанием и инструкцией как принять участие."
            isRight=true
            mw-text=242
            mr-g=-240
            mt-g=-180
    }}
        <b>Продажа токенов началась!</b>
        <p style="margin-top: 20px">
            1. Заходите на сайт impossible.finance
            <br>
            2. Перейдите в раздел...
        </p>
        <span style="margin-top: 10px">Читать полностью</span>
    {{/window-tool-block/index}}
    {{#> window-tool-block/index
            image="../../../images/tool-block-3.png"
            text="3. Добавьте свои личные задачи в календарь, которые будете видеть только вы. Календарь автоматически будет напоминать о них."
            mw-text=242
            mr-g=-300
            mt-g=0
            mt=1
    }}
        <img src="../../../images/emoji-5.png" alt="">
        <p style="margin-top: 5px">Теперь все задачи по крипте у меня в криптон-календаре, перестал пропускать сейлы и разлоки токенов. Спасибо!</p>
        <span style="margin-top: 10px;color: #000">Максим</span>
        <span style="color: #949496;">опытный пользователь</span>
    {{/window-tool-block/index}}
    {{#> window-tool-block/index
            image="../../../images/tool-block-4.png"
            text="4. При появлении форс-мажорных ситуаций, изменений дат и условий, бот своевременно вас об этом предупредит."
            mw-text=245
            mr-g=-240
            mt-g=0
            isRight=true
            mt=1
    }}
        <b>Предупреждение:</b>
        <p style="margin-top: 25px">Продажа токенов переносится на 27.09.2021. Старт в 14.00 по МСК.</p>
        <span style="margin-top: 10px">Добавить событие</span>
    {{/window-tool-block/index}}
</div>
