<div class="form {{#if inWindow}}form_in-window{{/if}}" id="form">
    <div {{#if inWindow}}{{else}}class="wow animate__zoomInShort" data-wow-duration="1s"{{/if}}>
        <div class="form__info">
            <h5 {{#if inWindow}}{{else}}class="wow animate__animated animate__fadeInDownSmall" data-wow-delay="0.10s" data-wow-duration="1s"{{/if}}>Оформите единую подписку.</h5>
            <div {{#if inWindow}}{{else}}class="wow animate__animated animate__fadeInDownSmall" data-wow-delay="0.15s" data-wow-duration="1s"{{/if}}>
                <p class="form__info-price">
                    Всего за 45$ в месяц или 459$ в год.
                </p>
                <p class="form__info-accent">
                    Цена подписки постоянно растёт. Продлевайте подписку вовремя, чтобы сохранить первоначальную стоимость.
                </p>
            </div>
            <div {{#if inWindow}}{{else}}class="wow animate__animated animate__fadeInDownSmall" data-wow-delay="0.2s" data-wow-duration="1s"{{/if}}>
                <p class="form__info-instruction-title">КАК ПОЛУЧИТЬ ПОДПИСКУ? - ВСЕ ПРОСТО:</p>
                <p class="form__info-instruction">
                    1. Откройте Telegram-бот <a class="link" href="https://t.me/CryptonLobbyBot">https://t.me/CryptonLobbyBot</a>
                    <br>
                    2. Следуйте подробным указаниям бота
                    <br>
                    3. Получите доступ ко всем инструментам Crypton Academy.
                </p>
            </div>
        </div>
        <div class="form__help">
            <form action="" name="help" method="get" autocomplete="on" class="form__help-block">
                <b {{#if inWindow}}{{else}}class="wow animate__animated animate__fadeInUpSmall" data-wow-delay="0.25s" data-wow-duration="1s"{{/if}}>Остались вопросы?</b>
                <label {{#if inWindow}}{{else}}class="wow animate__animated animate__fadeInUpSmall" data-wow-delay="0.3s" data-wow-duration="1s"{{/if}}><input name="name" type="text" placeholder="Имя"></label>
                <label {{#if inWindow}}{{else}}class="wow animate__animated animate__fadeInUpSmall" data-wow-delay="0.35s" data-wow-duration="1s"{{/if}}><input name="phone" type="tel" placeholder="Логин Telegram или Email"></label>
                <div class="form__help-button">
                    {{> main-button/index fullWidth=true text="Получить помощь" isSubmit=true animate="animate__animated animate__fadeInUpSmall" delay="0.25s"}}
                </div>
            </form>
        </div>
    </div>
</div>
